.git/
.github/
.idea/
.gitignore
.gitattributes
node_modules/
coverage/
.nyc_output/
logs/
*.log
*.cfg
*.tsbuildinfo
*.tgz
FORWARD
interfacesCleanup.ts
src/
docs/
innerDocs/
examples/
__tests__/
__test__/
cam_tests/
experiments/
test/
test.*
.npmignore
.prettierignore
.prettierrc
eslint.config.mjs
jest.config.js
tsconfig.json
typedoc.json
package-lock.json
CHANGELOG.md
CONTRIBUTING.md
