language: node_js
node_js:
  - "0.12"
  - "0.10"
before_install:
  - "npm config set spin false"
script: npm run-script test-on-travis
after_success:
  - npm run-script upload-to-coveralls
notifications:
  email: true
env:
  global:
    - HOSTNAME=127.0.0.1
    - PORT=10101
sudo: false